/* DESKTOP - FIRST */


@media only screen and (max-width: 768px){

.container{
    width: 100%;
}

}

@media only screen and (max-width: 480px){

    .container{
        width: 100%;
    }
    .row{
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .row > .col{
        width: 100%;
        padding: 30px 35px;
    }
}